/*menú*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 25px -22px #fff;
    z-index: 2;


}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.firma{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.firma h1 b{
    color: black;

}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%;

}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;

}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.menu-selected:before{
content: '';
width: 100%;
height: 4px;
background:cornflowerblue;
position: absolute;
top: 0px;
left: 0px;


}


.menu nav ul li a{
    color: gray;
    font-size: 18px;
    transition: color 300ms;

}

.menu nav ul li a:hover{
color:#46a2fd;

}

.menu .text-menu-selected{
    color: #46a2fd;
}

#icon-menu{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #6e6e6e;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor:pointer;

}

#icon-menu:hover{
    opacity: 0.8;
}

/* lo que continua es la portada*/

.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img2/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container-cover:before{
content: '';
width: 100%;
height: 100%;
background: rgba(38, 172, 255, 0.8);
position: absolute;
top: 0px;
left: 0px;
}

.container-tipo-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    
}

.container-tipo-cover h1{
    font-size: 70px;
    font-weight: bold;
    color:white;
    margin-bottom: 20px;

}

.container-tipo-cover p{
    color: white;
    font-size: 20px;
    font-weight: 300;

}

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0px 20px -30px black;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

article:before{
content: '';
width: 100%;
height: 6px;
position: absolute;
top: 0px;
left: 0px;
background: #46a2fd;

}

article h1{
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;

}

article img{
    width: 100%;
    margin-top: 20px;

}

article p{
    margin-top: 20px;
    font-size: 20px;
    color: #3c3c3c;

}

.container-aside aside{
    width: 300px;
    border-right: 6px;
    box-shadow: 0px 0px 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;


}

.container-aside aside img{
    width: 100%;

}


.container-aside aside h2, .container-aside aside p{
    margin-top: 20px;
    padding: 0px 20px;


}

.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;

}

.container-aside aside button:hover{
    opacity: 0.9;
}
/*Diseño grafico del footer*/

.container-footer{
    width: 100%;
    padding: 40px 0px;
    background: #f7f7f7;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;

}
.container-footer footer .logo-footer{
    text-align: center;

}

.container-footer footer .logo-footer img{
    width: 100px;

}
.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;

}
footer .redes-footer .fa-facebook-f:hover{
    background: #3b5998;
    color: white;
}
footer .redes-footer .fa-google-plus-g:hover{
    background: #db4a39;
    color: white;
}
footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443a8);
    color: white;
}
.container-footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c8c8;
}
.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: bold;
}

/*diseño responsive*/
@media screen and (max-width: 1200px)
{
    .header-content, .container-content, .container-footer footer{
        max-width: 1000px; 
        padding: 0px 20px; 
    }
}
@media screen and (max-width: 1020px)
{
    .container-content{
        width: 100%;
        flex-direction: column;
    }
    article{
        box-shadow: 0px 0px 0px 0px;
    }
    .container-aside{
        display: flex;
        justify-content: center;
    }
    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }
}
@media screen and (max-width: 800px)
{
    body{
        overflow-x: hidden;
    }
    .container-all{
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }
    .move-container-all{
        transform: translateX(300px);
    }
    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        overflow: hidden;
        background: white;
        transform: translateX(-350px);
        box-shadow: 10px 0px 20px -25px black;
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }
    .show-lateral{
        width: 300px;
        transform: translateX(0px);
    }
    .menu nav ul{
        flex-direction: column;
    }
    .menu nav ul li{
        max-width: 200px; 
        height: 50px;
        justify-content: flex-start;  
    }
    .menu-selected:before{
        width: 0;
    }
    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }
    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }
    #icon-menu{
        display: flex;
    }
    .container-aside{
        flex-wrap: wrap;
    }
}